/* Selector universal - selecciona todos los elementos de un documento HTML - su nivel de especificidad es el mas bajo de todos. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 20px;
    border: 2px solid #f00;
    padding: 20px;
    background-color: #0e0e0e;

    border-radius: 50px;

    /* 
    box-shadow agrega sombras a una caja
    los valores que toma son los siguientes:
    1. desplazamiento horizontal (x) de la sombra (con valores positivos se mueve a la derecha y con negativos a la izquierda)
    2. desplazamiento vertical (y) de la sombra (con valores positivos se mueve hacia abajo y con negativos hacia arriba)
    3. difuminado de la sombra (blur)
    4. color de la sombra
    */
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

h2 {
    color: #0f0;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: rgb(255, 0, 212);
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}